:root {
    font-family: 'Red Hat Mono';
    font-weight: 400;
    /* line-height: 1.5; */

    color-scheme: dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --background-1: hsl(214, 14%, 10%);
    --background-2: hsl(213, 13%, 14%);
    --background-3: hsl(213, 12%, 18%);
    --font-color: hsl(211, 29%, 70%);
    --font-bright: hsl(211, 29%, 80%);
    --font-positive: hsl(130, 60%, 70%);
    --font-negative: hsl(0, 60%, 70%);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--background-1);
    color: var(--font-color);
}

#app {
    width: 100%;
    height: 100%;
}

.box {
    background-color: var(--background-2);
    border-radius: 20px;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}
